/* Import Boxicons for Formio Tailwind icons */
@import 'boxicons/css/boxicons.min.css';

/* Import Bootstrap and Formio before Tailwind */
@import 'formiojs/dist/formio.full.min.css';

/* Import all CSS files before Tailwind directives */
@import "~@tsed/tailwind-formio/styles/index.css";
@import './formio-custom.css';
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecf0f1;
  --foreground: #2c3e50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
